@use "vars" as *;

.chat-input {
  margin: 10px 0;
  position: relative;

  fieldset {
    border: solid 1px $medium-gray;
    border-radius: 6px;
    margin: 0;
    min-height: 47px;
    outline: none;
    padding: 0 0 40px 0;
    position: relative;

    &.has-focus {
      outline: solid 2px $light-teal;
    }
  }

  .textarea-container {
    position: relative;
    width: 100%;
  }

  .textarea-container textarea {
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    padding: 8px 10px;
    resize: none;
    width: 100%;

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  .buttons-container {
    align-items: center;
    bottom: 4px;
    display: flex;
    flex-wrap: nowrap;
    height: 32px;
    justify-content: space-between;
    left: 4px;
    margin: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    width: calc(100% - 8px);

    button {
      border: none;
      border-radius: 6px;
      padding: 0px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-size: .75rem;
      height: 32px;
      margin: 0;
      pointer-events: auto;
      width: 32px;
      background-color: transparent;
      color: $dark-gray;

      &.enabled {
        background-color: $light-teal-3;

        svg {
          path.main-shape {
            fill: $dark-teal;
          }
        }

        &:hover {
          background-color: $light-teal-2;
        }

        &:active {
          background-color: $light-teal-1;
        }
      }

      &.send {
        margin-left: auto;
        order: 2;
      }

      &.cancel {
        margin-left: auto;
        order: 2;
      }

      &.dictate {
        order: 1;

        &.active {
          // darken the color of the icon when active
          filter: brightness(0) saturate(100%) invert(32%) sepia(0%) saturate(2419%) hue-rotate(165deg) brightness(101%) contrast(66%);
        }
      }

      &:disabled {
        cursor: not-allowed;
        opacity: .5;
        background-color: transparent;
      }
    }
  }
}