@use "./vars.scss" as *;

.developer-options {
  display: flex;
  flex-direction: column;

  button {
    appearance: none;
    background-color: $light-teal-3;
    border: solid 1px rgb(118, 118, 118);
    border-radius: 6px;
    color: $dark-gray;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    height: 32px;
    text-align: center;
    width: auto;

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  label {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 0 5px;
    padding: 0;
    user-select: none;
    white-space: nowrap;
  }
}